<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tache-heading" data-cy="TacheCreateUpdateHeading" jhiTranslate="gestionDemandeApp.tache.home.createOrEditLabel">
        Create or edit a Tache
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionDemandeApp.tache.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionDemandeApp.tache.etat" for="field_etat">Etat</label>
          <select class="form-control" name="etat" formControlName="etat" id="field_etat" data-cy="etat">
            <option [ngValue]="null">{{ 'gestionDemandeApp.EtatTache.null' | translate }}</option>
            <option value="Nouvelle">{{ 'gestionDemandeApp.EtatTache.Nouvelle' | translate }}</option>
            <option value="En_Cours">{{ 'gestionDemandeApp.EtatTache.En_Cours' | translate }}</option>
            <option value="Fini">{{ 'gestionDemandeApp.EtatTache.Fini' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionDemandeApp.tache.agent" for="field_agent">Agent</label>
          <select class="form-control" id="field_agent" data-cy="agent" name="agent" formControlName="agent">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="agentOption.id === editForm.get('agent')!.value?.id ? editForm.get('agent')!.value : agentOption"
              *ngFor="let agentOption of agentsSharedCollection; trackBy: trackAgentById"
            >
              {{ agentOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
